#------------------------------------------------------------------------------
# File:			GPS2MapUrl.config
#
# Description:	User-defined Composite tag definitions to create URLs for various
#				map websites based upon GPS coordinates embedded in the file.
#
#				Place this file in the same directory as exiftool.exe and start the 
#				command with "-config GPS2MapUrl.config" or clip the section for 
#				the desired tag marked by dash lines and place in your .exifTool_config 
#				file under the "'Image::ExifTool::Composite' => {" line to have these
#				tags available at all times. 
#
# Tag definitions and examples:
#
#	GoogleMapsUrl
#		This will create a link to Google maps based upon this StackOverflow answer
#		https://stackoverflow.com/a/32807681/3525475
#		Example:
#			exiftool -config Map_URL_From_GPS.config -GoogleMapsUrl FILE
#
#	BingMapsUrl
#		This will create a link to Bing maps based upon this page
#		https://docs.microsoft.com/en-us/bingmaps/articles/create-a-custom-map-url
#		Example:
#			exiftool -config Map_URL_From_GPS.config -BingMapsUrl FILE
#
#	OpenStreetMapsUrl
#		This will create a link to OpenStreetMap.org maps 
#		Example:
#			exiftool -config Map_URL_From_GPS.config -BingMapsUrl FILE
#
#	MapquestMapsUrl
#		This will create a link to Mapquest maps 
#		Example:
#			exiftool -config Map_URL_From_GPS.config -BingMapsUrl FILE
#
#	YandexMapsUrl
#		This will create a link to Yandex maps 
#		Example:
#			exiftool -config Map_URL_From_GPS.config -BingMapsUrl FILE
#
#	User Parameters
#		Zoom
#			This user parameter will add the level of zoom for the URL
#			Example:
#				exiftool -config Map_URL_From_GPS.config -userparam Zoom=16 -BingMapsUrl FILE
#
# 	Notes:		Bing Maps doesn't allow for the creation of push pins without an API key
#					This tag will use the collection "sp=point" option using a dot as the label
#
# Revisions:	Ver. 1.0 - 2019-02-04 - Bryan K. Williams (aka StarGeek) Created
#
# References:	
#------------------------------------------------------------------------------
%Image::ExifTool::UserDefined = (
	'Image::ExifTool::Composite' => {
#------------------------------------------------------------------------------
		GoogleMapsUrl => {
			Require => {
				0 => 'GPSLatitude',
				1 => 'GPSLongitude',
			},
			ValueConv => q{
				my $zm = ($self->Options('UserParam')->{'zoom'}) ? "&ll=$val[0],$val[1]&z=".($self->Options('UserParam')->{'zoom'}) : undef;
				return ("https://www.google.com/maps/search/?q=$val[0],$val[1]$zm");
			},
		},
#------------------------------------------------------------------------------
		BingMapsUrl => {
			Require => {
				0 => 'GPSLatitude',
				1 => 'GPSLongitude',
			},
			ValueConv => q{
				my $zm = ($self->Options('UserParam')->{'zoom'}) ? '&lvl='.($self->Options('UserParam')->{'zoom'}) : undef;
				return ("https://bing.com/maps/default.aspx?cp=$val[0]~$val[1]&sp=point.$val[0]_$val[1]_.$zm");
			},
		},
#------------------------------------------------------------------------------	
		OpenStreetMapsUrl => {
			Require => {
				0 => 'GPSLatitude',
				1 => 'GPSLongitude',
			},
			ValueConv => q{
				my $zm = ($self->Options('UserParam')->{'zoom'}) ? '&zoom='.($self->Options('UserParam')->{'zoom'}) : undef;
				return ("http://www.openstreetmap.org/?mlat=$val[0]&mlon=$val[1]$zm");
			},
		},
#------------------------------------------------------------------------------	
		MapquestMapsUrl => {
			Require => {
				0 => 'GPSLatitude',
				1 => 'GPSLongitude',
			},
			ValueConv => q{
				my $zm = ($self->Options('UserParam')->{'zoom'}) ? '&zoom='.($self->Options('UserParam')->{'zoom'}) : undef;
				return ("https://www.mapquest.com/?q=$val[0],$val[1]$zm");
			},
		},
#------------------------------------------------------------------------------	
		YandexMapsUrl => {
			Require => {
				0 => 'GPSLatitude',
				1 => 'GPSLongitude',
			},
			ValueConv => q{
				my $zm = ($self->Options('UserParam')->{'zoom'}) ? '&z='.($self->Options('UserParam')->{'zoom'}) : undef;
				return ("https://yandex.com/maps/?ll=$val[1]%2C$val[0]&text=$val[0]%2C$val[1]$zm");
			},
		},
#------------------------------------------------------------------------------	
	},
);
1;	#end